/archive
/features_densenet121.pt
/features_mobilenet_v3_large.pt
/features_resnet50.pt
/features_vgg16.pt
/meta_densenet121.txt
/meta_mobilenet_v3_large.txt
/meta_resnet50.txt
/meta_vgg16.txt
/nisa_durak_212701013_baharDonemOdevi.pdf